.footer {
  background-color: var(--blue-800);
  padding: 40px 24px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  color: var(--white);
  text-align: center;
}
