/* Footer Styles */
.footer {
  background-color: var(--blue-800);
  padding: 0 80px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  height: 120px;
  color: var(--white);
}
