body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-white-container {
    padding: 8px;
    min-height: 100vh;
    background: linear-gradient(180deg, #FDFDFD 0%, #F7FCFE 100%);
    background-image: url('../assets/images/homepage/background.svg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto;
    background-attachment: initial;
    overflow: visible;
}

.main-top{
    display: flex;
    margin: 0 auto;
    max-width: 976px;
    padding: 240px 24px 136px 24px;
    flex-direction: column;
    align-items: center;
    gap: 240px;
    align-self: stretch;
}