/* --------------------------------
   IMAGE STYLES
   -------------------------------- */

.project-img-wrapper {
    box-shadow: 0 0 0.5px 0 rgba(0, 0, 0, 0.18), 0 3px 8px 0 rgba(0, 0, 0, 0.10), 0 1px 3px 0 rgba(0, 0, 0, 0.10);
    display: inline-block;
    border-radius: 8px;
    overflow: hidden;
    max-width: 1200px;
    height: auto;
    max-height: 800px;
    margin: 64px 24px 0 24px;
}

.project-img-wrapper img {
    display: block;
    max-width: 100%;
    height: auto;
}

.project-shadow {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.10);
}


/* --------------------------------
   QUOTE STYLES
   -------------------------------- */
.quote {
    border-left: 4px solid var(--blue-gray-800);
    padding-left: 24px;
    max-width: 928px;
    margin: 2em 0 1em 0;
}

/* --------------------------------
   CALLOUT STYLES
   -------------------------------- */
.callout {
    background-color: var(--off-white-blue);
    padding: 24px 32px;
    border-radius: 12px;
    width: calc(100% - 24px);
    max-width: 928px;
    margin: 2em 0 1em 0;
}

/* --------------------------------
   HORIZONTAL RULE STYLES
   -------------------------------- */
hr {
    border: none;
    height: 1px;
    background-color: var(--blue-gray-100);
    margin: 2em 0;
    width: 100%;
    max-width: 928px;
}

