/* --------------------------------
   IMAGE STYLES
   -------------------------------- */

.project-img {
    max-width: 100%;
    max-width: 1200px;
    height: auto;
    padding: 64px 24px 0 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin: auto;
    align-self: stretch;
}

.project-shadow {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.10);
}


/* --------------------------------
   QUOTE STYLES
   -------------------------------- */
.quote {
    border-left: 4px solid var(--blue-gray-800);
    padding-left: 24px;
    max-width: 928px;
    margin: 2em 0 1em 0;
}

/* --------------------------------
   CALLOUT STYLES
   -------------------------------- */
.callout {
    background-color: var(--off-white-blue);
    padding: 24px 32px;
    border-radius: 12px;
    width: calc(100% - 24px);
    max-width: 928px;
    margin: 2em 0 1em 0;
}

