@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

p, a, button, input, textarea, select, option, label, h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif;
  padding: 0;
  margin: 0;
  line-height: 1.5;
  text-decoration: none;
}

/* --------------------------------
   PARAGRAPH
   -------------------------------- */
.paragraph {
  width: 100%;
  max-width: 976px;
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Inter', sans-serif;
  color: var(--blue-gray-900);
  font-weight: 400;
  margin-top: 1em;        /* 16px */
  margin-bottom: 0.125em; /* 2px */
  padding-left: 24px;
  padding-right: 24px;
}

/* Responsive  */
@media screen and (max-width: 1026px) {
  .paragraph {
    font-size: 15px;
  }
}

@media screen and (max-width: 601px) {
  .paragraph {
    font-size: 14px;
  }
}

/* --------------------------------
   PROJECT HEADINGS
   -------------------------------- */
.project-h1 {
  width: 100%;
  max-width: 976px;
  font-size: 32px;
  line-height: 1.25;
  font-family: 'Karla', sans-serif;
  color: var(--blue-gray-900);
  font-weight: 700;
  margin-top: 4em;       /* 128px */
  margin-bottom: 0.75em; /* 24px */
  padding-left: 24px;
  padding-right: 24px;
}

/* Responsive  */
@media screen and (max-width: 1026px) {
  .project-h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 601px) {
  .project-h1 {
    font-size: 28px;
  }
}

.project-h2 {
  width: 100%;
  max-width: 976px;
  font-size: 24px;
  line-height: 1.3;
  font-family: 'Karla', sans-serif;
  color: var(--blue-gray-900);
  font-weight: 600;
  margin-top: 2.667em;   /* 64px */
  margin-bottom: 0.667em;/* 16px */
  padding-left: 24px;
  padding-right: 24px;
}

/* Responsive */
@media screen and (max-width: 1026px) {
  .project-h2 {
    font-size: 22px;
  }
}

@media screen and (max-width: 601px) {
  .project-h2 {
    font-size: 20px;
  }
}

.project-h3 {
  width: 100%;
  max-width: 976px;
  font-size: 20px;
  line-height: 1.4;
  font-family: 'Karla', sans-serif;
  color: var(--blue-gray-900);
  font-weight: 600;
  margin-top: 2em;      /* 40px */
  margin-bottom: 0.6em; /* 12px */
  padding-left: 24px;
  padding-right: 24px;
}

/* Responsive */
@media screen and (max-width: 1026px) {
  .project-h3 {
    font-size: 18px;
  }
}

@media screen and (max-width: 601px) {
  .project-h3 {
    font-size: 16px;
  }
}

/* --------------------------------
   TITLES
   -------------------------------- */
.title-sm {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  line-height: 0;
  font-size: 24px;
  text-align: left;
  line-height: normal;
}

/* Responsive */
@media screen and (max-width: 1026px) {
  .title-sm {
    font-size: 20px;
  }
}

@media screen and (max-width: 601px) {
  .title-sm {
    font-size: 16px;
  }
}

.title-md {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  line-height: 0;
  font-size: 32px;
  text-align: left;
  line-height: normal;
}

/* Responsive */
@media screen and (max-width: 1026px) {
  .title-md {
    font-size: 28px;
  }
}

@media screen and (max-width: 601px) {
  .title-md {
    font-size: 24px;
  }
}

.title-lg {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  line-height: 0;
  font-size: 40px;
  text-align: left;
  line-height: normal;
}

/* Responsive */
@media screen and (max-width: 1026px) {
  .title-lg {
    font-size: 36px;
  }
}

@media screen and (max-width: 601px) {
  .title-lg {
    font-size: 32px;
  }
}

/* --------------------------------
   REGULAR
   -------------------------------- */
.regular-xs{
  font-size: 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 125%;
}
.regular-sm{
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 125%;
}
.regular-base{
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 150%;
}

/* Responsive */
@media screen and (max-width: 1026px) {
  .regular-base {
    font-size: 15px;
  }
}

@media screen and (max-width: 601px) {
  .regular-base {
    font-size: 14px;
  }
}

.regular-lg{
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 150%;
}

/* Responsive */
@media screen and (max-width: 1026px) {
  .regular-lg {
    font-size: 16px;
  }
}

@media screen and (max-width: 601px) {
  .regular-lg {
    font-size: 14px;
  }
}

/* --------------------------------
   MEDIUM
   -------------------------------- */
.medium-xs{
  font-size: 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  line-height: 125%;
}
.medium-sm{
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  line-height: 125%;
}
.medium-base{
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  line-height: 150%;
}

/* Responsive */
@media screen and (max-width: 1026px) {
  .medium-base {
    font-size: 15px;
  }
}

@media screen and (max-width: 601px) {
  .medium-base {
    font-size: 14px;
  }
}

.medium-lg{
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  line-height: 150%;
}

/* Responsive */
@media screen and (max-width: 1026px) {
  .medium-lg {
    font-size: 16px;
  }
}

@media screen and (max-width: 601px) {
  .medium-lg {
    font-size: 14px;
  }
}

/* --------------------------------
   BOLD
   -------------------------------- */
.bold-xs{
  font-size: 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  line-height: 125%;
}
.bold-sm{
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  line-height: 125%;
}
.bold-base{
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  line-height: 125%;
}

/* Responsive */
@media screen and (max-width: 1026px) {
  .bold-base {
    font-size: 15px;
  }
}

@media screen and (max-width: 601px) {
  .bold-base {
    font-size: 14px;
  }
}

.bold-lg{
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  line-height: 150%;
}

/* Responsive */
@media screen and (max-width: 1026px) {
  .bold-lg {
    font-size: 16px;
  }
}

@media screen and (max-width: 601px) {
  .bold-lg {
    font-size: 14px;
  }
}